@mixin displayFlex($flow: null, $justify: null, $align: null) {
  display: flex;
  align-items: $align;
  flex-flow: $flow;
  justify-content: $justify;
}

@mixin noList() {
  padding-left: 0;

  list-style-type: none;
}