{% macro link(url, text) %}
    {% if url == current_url %}
        <a href="{{ url }}" aria-current="page">
            {{ text }}
        </a>
    {% else %}
        <a href="{{ url }}">
            {{ text }}
        </a>
    {% endif %}
{% endmacro link %}

{% macro pagination(paginator) %}
    {% if paginator.number_pagers > 1 %}
    <nav aria-label="pagination">
        <ul>
            {% if paginator.previous %}
            <li>
                <a href="{{ paginator.previous }}">Previous page</a>
            </li>
            {% endif %}
            {% if paginator.next %}
            <li>
                <a href="{{ paginator.next }}">Next page</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endmacro pagination %}

{% macro source(source) %}
    {{ config.sources[source] | safe }}
{% endmacro source %}

{% macro footnote(number) %}
    <a href="#f{{ number }}"><sup>{{ number }}</sup></a>
{% endmacro footnote  %}