{% extends "layout/full-width.html" %}
{% block meta %}
<title>{{ section.title }} | {{ config.title }}</title>
<meta name="description" content="{{ section.description }}" />
{% endblock meta %}
{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
<section>
    {% set start = 1 + (paginator.paginate_by * paginator.current_index) - paginator.paginate_by %}
    <ol start="{{ start }}">
        {% for item in paginator.pages %}
            <li>
                <a href="{{ item.permalink }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ol>
    {{ macros::pagination(paginator=paginator) }}
</section>
{% endblock content %}