{% extends "layout/full-width.html" %}
{% block meta %}
<title>{{ page.title }} | {{ config.title }}</title>
<meta name="description"
    content="Showing changes to global population, atmospheric pollution, and biodiversity since {{ page.title  }}." />
{% endblock meta %}
{% block content %}
{% set data = load_data(path=current_path ~ "data.json") %}
<h1>Since you were born in <span>{{ page.title }}</span></h1>

<section>
    <h2>Population</h2>
    {%- set pop_increase = 10 * (1 + (data.population.percent / 100)) | round(method="floor") | int -%}
    {% include "includes/year/population.html" %}
    {{ graphics::population(number=pop_increase) }}

    <details>
        <summary>More population statistics</summary>
        <ul>
            {% include "includes/year/life_expectancy.html" %}
            {% include "includes/year/infant_mortality.html" %}
            {% include "includes/year/median_age.html" %}
        </ul>
    </details>
</section>

<section>
    <h2>Atmosphere</h2>
    {% include "includes/year/carbon.html" %}

    <details>
        <summary>More atmosphere statistics</summary>
        <ul>
            {% include "includes/year/temperature.html" %}
            {% include "includes/year/ozone.html" %}
        </ul>
    </details>
</section>

<section>
    <h2>Biodiversity</h2>
    {% include "includes/year/living_planet.html" %}

    <details>
        <summary>More biodiversity statistics</summary>
        <ul>
            {% include "includes/year/rli.html" %}
        </ul>
    </details>
</section>

<section>
    <h2>Sources</h2>
    {% include "includes/sources.html" %}
</section>
{% endblock content %}