/*
* Page Layout
*/
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  background-color: var(--background-mid);
}

body>header,
body>footer,
body>main {
  padding: 0 $base-line-height;
}

main>*:not(.full-bleed) {
  max-width: $ideal-line-width;
  margin-left: auto;
  margin-right: auto;
}